@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: rgb(166, 107, 153);
  --secondary-color: rgb(240, 83, 193);
  --heading-color: #ffffff;
  --text-color: #abb4c7;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

* {
  background-color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}

section {
  padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}

.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
  position: relative;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 1;
}
.primary__btn a:hover {
  color: #858585;
}
.primary__btn .btn-text {
  background: var(--secondary-color); /* Change this to your desired color */
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}
.secondary__btn {
  background: transparent !important;
  color: #ffffff !important;
  border: none !important;
  font-weight: 500 !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary__btn a:hover {
  color: #858585;
}

.section__subtitle {
  background: var(--secondary-color);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  padding-right: 1rem;

  border-radius: 50px;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--heading-color);
}

